th{
    border: 4px solid black;
}
h1{
    background-color: aqua;
    text-align: center;
}
table{
    border-collapse: collapse;
    width: 50%;
    margin: 20px auto;
}
.table-bordered{
    border: 3px solid black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.fila1{
    background-color: aquamarine;
}
.fila2{
    color: red;
}
.fila3{
    background-color: chocolate;
}
.fila4{
    background-color:cadetblue;
}
.fila5{
    background-color: darkgoldenrod;
}
fieldset{
    text-align: center;
}